*{
    font-family: 'Zilla Slab', serif;
}
body{
    margin:0;
    border:0;
    width:100%;
}
#Réteg_1{ /*nav háttér görbe */
    position: fixed;
    z-index: -1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 0;
}
#Réteg_2{
    position: relative;
    z-index: -1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 50%;


}

nav{
    width: 100%;
    position: fixed;
}
#nav{
    opacity: 0;
}
nav ul li{
    display: inline-block;
}



.header a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}


.header{
    background-color: dimgray;

}

.nav-link{
    color: #353535;
}
.nav-item{
    padding: 2%;
    font-size: 1.2em;
}
.opening_view_section{
    width:100%;
}
.opening-view-container{
    text-align: center;
}
.opening-view{
    display: inline-block;
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: #c4c4c4;
    opacity: 0 ;
    width: 50%;
    font-size: 3em;
    text-align: center;

}


/*.news_item{*/
    /*display: inline-block;*/
    /*width: 70%;*/
    /*font-size: 15px;*/
    /*text-align: center;*/
/*}*/

.inter_container{
    text-align: center;
    position: relative;
}

.inter_section h1{

    padding-top: 2em;
    position: absolute;
    font-size: 3em;
    color: #c4c4c4;
    opacity: 100%;
}
.news_container{
    width:80%;
    margin:10%;
    height:auto;
    background-color: dimgray;
    border: 2px slategrey solid;
    border-radius: 10px;

}

.news_item {
    width: 500px;
    border: 1px;
    padding:1em;
    overflow: hidden; /* will contain if #first is longer than #second */
    display: inline-block;
}
.news_item_left{
    border: 1px;

}
.news_item_right{
    width:300px;
    height:400px;
    border: 1px;
    float:right;

}