*{
    font-family: 'Zilla Slab', serif;
}
body{
    margin:0;
    border:0;
    width:100%;
}
#Réteg_1{ /*nav háttér görbe */
    position: fixed;
    z-index: -1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 0;
}
#Réteg_2{
    position: relative;
    z-index: -1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 50%;


}

nav{
    width: 100%;
    position: fixed;
}
#nav{
    opacity: 0;
}
nav ul li{
    display: inline-block;
}



.header a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}


.header{
    background-color: dimgray;

}

.nav-link{
    color: #353535;
}
.nav-item{
    padding: 2%;
    font-size: 20px;
}
.opening_view_section{
    width:100%;
}
.opening-view-container{
    text-align: center;
}
.opening-view{
    display: inline-block;
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: #c4c4c4;
    opacity: 0 ;
    width: 50%;
    font-size: 3em;
    text-align: center;

}
.news_section{
    height:1000px;
}
.news_container{
    margin:10%;
    text-align: center;
    background-color: white;
    opacity: 50%;
}
.news_object{
    display: inline-block;
    width: 70%;
    font-size: 15px;
    text-align: center;
}

.inter_container{
    text-align: center;
    position: relative;
}

.inter_section h1{
    padding:10px;
    position: absolute;
    font-size: 3em;
    color: #c4c4c4;
    opacity: 100%;

}