*{
    font-family: 'Zilla Slab', serif;
}
body{
    margin:0;
    border:0;
    width:100%;
}
#Réteg_1{ /*nav háttér görbe */
    position: fixed;
    z-index: 1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 0;
}
#Réteg_2{
    position: relative;
    z-index: -1;
    top:0;
    margin:0;
    border:0;
    padding:0;
    width:100%;
    opacity: 50%;


}

nav{
    width: 100%;
    position: fixed;
    z-index: 10;
}
#nav{
    opacity: 0;
}
nav ul li{
    display: inline-block;
}



.header a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}


.header{
    background-color: dimgray;

}

.nav-link{
    color: #353535;
}
.nav-item{
    padding: 2%;
    font-size: 1.2em;
}
.opening_view_section{
    width:100%;
}
.opening-view-container{
    text-align: center;
}
.opening-view{
    display: inline-block;
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: #c4c4c4;
    opacity: 0 ;
    width: 50%;
    font-size: 3em;
    text-align: center;

}


/*.news_item{*/
    /*display: inline-block;*/
    /*width: 70%;*/
    /*font-size: 15px;*/
    /*text-align: center;*/
/*}*/

.inter_container{
    text-align: center;
    position: relative;
}

.inter_section h1{
    padding-top: 2em;
    position: absolute;
    font-size: 3em;
    color: #c4c4c4;
    opacity: 100%;
}
.news_section{
    background: rgba(69, 69, 69, .9);
    margin:10%;
    padding:2em;
}
#news_section{

}
.news_container{
    margin:10%;
    background-color: dimgray;
    border: 2px #353535 solid;
    border-radius: 10px;
    text-align: center;
}
.news_item{
    padding:1em;
    opacity: inherit;

}
.news_titel_date{
    width:60%;
    float:left;
}
.news_item_left{
    width:60%;
    float: left;
}
.news_item_right{
    left:30px;
}
.contacts_data_section{
    padding-top: 12%;
}
.contacts_data_container{

    background: rgba(69, 69, 69, .9);
    width:70%;
    height:600px;
    padding:20px;
}
.contacts_data_left {
    position: relative;
    float: left;
    width: 44%;
    margin: 0;
    padding: 0;
}

.contacts_data_right{
    position: relative;
    float: right;
    width: 49%;
    margin: 0;
    padding: 0;
}
.divider{
    position:absolute;
    left:50%;
    top:28%;
    height:500px;
    border-left:6px solid rgba(28, 28, 34, 0.91);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#googleMap{
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts_content{}
